<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projet annuel</title>
    <meta name="description" content="{% block metadescription %}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Spartan&display=swap">
    <link rel="shortcut icon" href="{{ asset('build/favicon 2.ico') }}" type="image/x-icon">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
        {{ encore_entry_link_tags('docdev') }}
</head>
<body>
<div class="container text-center">
    <h1 class="text-center">Documentation pour les nouveaux developpeurs</h1>

    <p>
        Pour cette application, nous avons développé avec symfony (<a href="https://symfony.com/"><i class="fa-brands fa-symfony"></i> Voir la doc
            symfony</a>)
        <br><br>
        <strong>Je vais vous expliquer notre façon de penser</strong>
        <br><br>
        <img src="{{ asset('build/dossier-dev.png') }}"
             alt="arborescence des dossier de développement">
        <br><br>
        Tout d'abord symfony est fait à base de controller pour la logique et pour la vue tout est dans le dossier
        template nous sommes passés par des components la logique de chaque composant se trouve dans le dossier
        src/Component
        et la vue dans le dossier template/component
        <br>
        Pour les styles tout se passe dans le dossier asset/style ici encore on organise tout avec des composants
    </p>

    <a class="linktohome" href="{{ path('homepage') }}">Revenir à la page d'accueil</a>
</div>
{#TODO finir le manuel d'utilisateur peut etre ajouter des images#}
{{ encore_entry_script_tags('docdev') }}
<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous">
</script>
</body>
</html>
