<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projet annuel</title>
    <meta name="description" content="{% block metadescription %}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Spartan&display=swap">
    <link rel="shortcut icon" href="{{ asset('build/favicon 2.ico') }}" type="image/x-icon">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
        {{ encore_entry_link_tags('docdev') }}
</head>
<body>
<div class="container text-center">
    <h1 class="text-center">Documentation pour les nouveaux developpeurs</h1>

    <p>
        Pour cette application, nous avons développé avec symfony (<a href="https://symfony.com/"><i
                    class="fa-brands fa-symfony"></i> Voir la doc
            symfony</a>)
        <br><br>
        <strong class="text-decoration-underline ">Je vais vous expliquer notre façon de penser</strong>
        <br><br>
        <img src="{{ asset('build/dossier-dev.png') }}"
             alt="arborescence des dossier de développement">
        <br><br>
        Tout d'abord symfony est fait à base de controller pour la logique et pour la vue tout est dans le dossier
        template nous sommes passés par des components la logique de chaque composant se trouve dans le dossier
        src/Component
        et la vue dans le dossier template/component
        <br><br>
        <strong class="text-decoration-underline ">Pour les images / le style css / les scripts js tout se passe dans le
            dossier "assets"</strong>
        <br><br>
        <img src="{{ asset('build/Assets.png') }}" alt="arborescence des dossier de développement">
        <img src="{{ asset('build/Style-js.png') }}" alt="arborescence des dossier de développement">
        <br><br>
        Ici vous retrouverez tous les fichiers css/js. Le fichier app.scss/app.js est le fichier qui s'occupe de la
        partie Front End.<br>
        Le fichier easyadmin.css/easyadmin.js est le fichier qui s'occupe de la partie Back End.<br>
        Les images seront stockées dans le dossier <strong>image</strong>.
        <br><br>
        <strong class="text-decoration-underline ">Pour tout ce qui est de la gestion des pages du site :</strong>
        <br>
        <br>
        <img src="{{ asset('build/Controller.png') }}" alt="arborescence des dossier de développement">
        <br><br>
        Dans le dossier <strong>Controller</strong>, il existe un dossier Admin qui va gérer toutes les pages du Backend.
        <br>
        Mais ceux qui ne s'y trouvent pas vont être géré comme leurs noms l'indique, la page front et la page Login.
        <br><br>
        <strong class="text-decoration-underline ">La gestion de la base de donnée :</strong>
        <br><br>
        <img src="{{ asset('build/Bdd.png') }}" alt="arborescence des dossier de développement">
        <br><br>
        Dans le dossier <strong>Entity</strong> se trouve toutes les tables qui sont dans notre base de donnée, c'est
        ici qu'on va gérer les relations (relier deux bases entre elles) et les champs.
        <br><br>
        <strong class="text-decoration-underline ">Le Formulaire Contact et les Repository</strong>
        <br><br>
        <img src="{{ asset('build/Repo-Form.png') }}" alt="arborescence des dossier de développement">
        <br><br>
        Dans le dossier <strong>Form</strong> c'est ici qu'on gère le formulaire contact et donc l'envoie du mail.
        <br>
        Dans le dossier <strong>Repository</strong>, c'est ici qu'on va gérer les actions faites par rapport à la base de
        donnée.
        <br><br>
        <strong class="text-decoration-underline ">La gestion du login et des services</strong>
        <br><br>
        <img src="{{ asset('build/Security-service.png') }}" alt="arborescence des dossier de développement">
        <br><br>
        Dans le dossier <strong>Security</strong> c'est ici que va se passer la validation du Login.
        <br>
        Dans le dossier <strong>Service</strong>, c'est ici qu'on va créer des services qui vont nous permettre de
        répéter le code.
        <br><br>
        <strong class="text-decoration-underline ">La gestion des pages Twig</strong>
        <br><br>
        <img src="{{ asset('build/Twig.png') }}" alt="arborescence des dossier de développement">
        <br><br>
        Dans le dosser <strong>templates</strong>, c'est ici qu'on va gérer nos pages HTML que ce soit du côté Front End
        ou du côté Back End.
        <br>
        Admin : back end<br>
        Bundles : Page error <br>
        Component : les documentations + quelque partie de code répéter dans le front <br>
        doc_dev : La documentation développeur <br>
        front : front end <br>
        security : Page Login <br>
        Page index : base.html.twig <br><br>


    </p>

    <a class="linktohome" href="{{ path('homepage') }}">Revenir à la page d'accueil</a>
</div>
{{ encore_entry_script_tags('docdev') }}
<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous">
</script>
</body>
</html>
