{% extends '@!EasyAdmin/layout.html.twig' %}
{% block page_title %}Admin - BJTechnoDev{% endblock %}
{% block stylesheets %}
    {{ encore_entry_css_files('app') }}
{% endblock %}
{% block content %}
    {% for message in app.flashes('success') %}
        <div style="display: flex; justify-content: center; margin: 0 auto; width: 50%"
             class="alert alert-success flash-notice" id="success-alert" role="alert">
            {{ message }}</div>
    {% endfor %}
    {% for message in app.flashes('danger') %}
        <div style="display: flex; justify-content: center; margin: 0 auto; width: 50%"
             class="alert alert-danger flash-notice" id="danger-alert" role="alert">
            {{ message }}</div>
    {% endfor %}
    {{ form_start(form) }}
    <form action="" method="post">
        {{ form_widget(form) }}
    </form>
    {{ form_end(form) }}
{% endblock %}