{% extends 'base.html.twig' %}

{% block title %}Projet annuel - Page d'accueil{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}

    {{ component('navbar') }}

    {{ component('doc') }}

    <div class="container contact-container" id="contact">
        <div class="row">
            <h2>Nous contactez</h2>
        </div>
        <div class="row">
            <h4 style="text-align:center">Si vous avez une question n'hésitez pas</h4>
        </div>
        <form class="row input-container">
            {{ form_start(our_form, {'attr': {'class' : "row input-container"}}) }}
            <div class="col-xs-12">
                <div class="styled-input wide">
                    {{ form_row(our_form.email, {'attr': {'placeholder':'Email@gmail.com'}}) }}
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="styled-input">
                    {{ form_row(our_form.fullName) }}
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="styled-input" style="float:right;">
                    {{ form_row(our_form.subject, {'attr': {'placeholder':'L\'objet de votre demande'}}) }}
                </div>
            </div>
            <div class="col-xs-12">
                <div class="styled-input wide">
                    {{ form_row(our_form.message, {'attr': {'placeholder':'Votre message'}}) }}
                </div>
            </div>
            <div class="col-xs-12">
                <button type="submit" class="btn-lrg submit-btn">Send Message</button>
            </div>
            {{ form_end(our_form) }}
    </div>


{% endblock %}

   {% block javascripts %}
       <script
               src="https://code.jquery.com/jquery-3.4.1.min.js"
               integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
               crossorigin="anonymous">
       </script>
       {{ encore_entry_script_tags('app') }}
   {% endblock %}
