<div class="container doc-container" xmlns="http://www.w3.org/1999/html">
    <h2 class="text-center">Documentation :</h2>


    <div class="accordion" id="accordionExample">

        <div class="accordion-item">
            <h3 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne">
                    <strong>Utilisateurs</strong>
                </button>
            </h3>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                 data-bs-parent="#accordionExample">
                <img class="accordion-body" style="width: 80%" src="{{ asset('build/PageUser.png') }}" alt="">
                <div class="accordion-body">
                    <strong>Dans l'onglet utilisateurs : </strong><br>
                    Tous les <strong>utilisateurs</strong> ayant accès à l'application sont ici. <br>
                    <strong>Seul <span style="color: red">les admins</span> peuvent créer, modifier ou supprimer un
                        utilisateur, soit en cliquant sur<span style="color: dodgerblue"> ajouter un utilisateur </span>pour
                        en ajouter un. <br> Mais aussi en cliquant sur les <span style="color: dodgerblue"> '...'</span> pour
                        modifier ou supprimer.</strong>
                </div>
                <br>
                <img src="{{ asset('build/Créeruser.png') }} " style="width: 80%" class="accordion-body" alt="">
                <div class="accordion-body">
                    <strong>Après avoir cliqué sur le bouton "Créer User" :</strong><br>
                    Seuls les <strong><span style="color: red">admins</span></strong> peuvent avoir accès à cet onglet,
                    ils doivent remplir tous les champs pour valider la création d'un utilisateur.
                </div>
                <br>
                <img src="{{ asset('build/ConsulterUser.png') }} " style="width: 80%" class="accordion-body" alt="">
                <div class="accordion-body">
                    <strong>Dans l'onglet Consulter un Utilisateur :</strong><br>
                    Tous les <strong style="color: dodgerblue">utilisateurs</strong> ont accès à cet onglet, ils
                    peuvent voir email - rôle, mais le <strong>mot de passe</strong> est caché.<br>
                    Seuls les <strong style="color: red">admins</strong> peuvent <strong>Supprimer</strong> ou <strong>Éditer </strong>l'utilisateur.
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h3 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <strong>Intervenant</strong>
                </button>
            </h3>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                 data-bs-parent="#accordionExample">
                <img class="accordion-body" style="width: 80%" src="{{ asset('build/CaptureIntervenanty.png') }}"
                     alt="">
                <div class="accordion-body">
                    <strong>Dans l'onglet Intervenant : </strong><br>
                    Tous les <strong>intervenants</strong> sont stockés ici. <br>
                    Tous ceux qui ont accès à l'application peuvent <strong style="color: dodgerblue">Importer ou
                        Exporter</strong> les données.<br>
                    Ils peuvent aussi <strong><span style="color: dodgerblue">créer un Intervenant,</span> <span
                                style="color: orange"> l'éditer</span> ou <span
                                style="color: red"> le supprimer.</span></strong>
                </div>
                <br>
                <img src="{{ asset('build/CréerIntervenant.png') }} " style="width: 80%" class="accordion-body" alt="">
                <div class="accordion-body">
                    <strong>Dans l'onglet Créer un Intervenant :</strong><br>
                    Tous les <strong><span style="color: dodgerblue">utilisateurs</span></strong> ont accès à cet
                    onglet, ils doivent remplir tous les champs pour valider la création d'un Intervenant.
                </div>
                <br>
                <img src="{{ asset('build/ConsulterIntervenant.png') }} " style="width: 80%" class="accordion-body"
                     alt="">
                <div class="accordion-body">
                    <strong>Dans l'onglet Consulter un Intervenant :</strong><br>
                    Tous les <strong style="color: dodgerblue">utilisateurs</strong> ont accès à cet onglet, ils
                    peuvent voir toutes les informations concernant l'Intervenant.<br>
                    Ils peuvent aussi <strong>Supprimer</strong> ou <strong>Éditer </strong>l'utilisateur dans cet
                    onglet.
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h3 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <strong>Demande de contrat</strong>
                </button>
            </h3>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                 data-bs-parent="#accordionExample">
                <img class="accordion-body" style="width: 80%" src="{{ asset('build/Contratcréer.png') }}" alt="">
                <div class="accordion-body">
                    <strong>Dans l'onglet demande de Contrat : </strong><br>
                    Tous les <strong>contrats</strong> sont stockés ici.<br>
                    Tous les utilisateurs peuvent <strong style="color: dodgerblue">Importer ou Exporter</strong> les
                    données.<br>
                    Ils peuvent aussi <strong><span style="color: dodgerblue">créer un Contrat,</span> <span
                                style="color: orange"> Éditer</span> ou <span
                                style="color: red"> Supprimer.</span></strong>

                </div>
                <br>
                <img src="{{ asset('build/Contrat Creee.png') }} " style="width: 80%" class="accordion-body" alt="">
                <div class="accordion-body">
                    <strong>Dans l'onglet Créer un Contrat :</strong><br>
                    Tous les <strong><span style="color: dodgerblue">utilisateurs</span></strong> ont accès à cet
                    onglet, ils doivent remplir tous les champs pour valider la création d'un Contrat.
                </div>
                <br>
                <div style="display: flex">
                    <img src="{{ asset('build/FiltreContrat.png') }} " style="width: 50%; height: 50%"
                         class="accordion-body" alt="">
                    <img src="{{ asset('build/FiltreContratt.png') }} " style="width: 50%" class="accordion-body"
                         alt="">
                </div>
                <div class="accordion-body">
                    <strong>Dans l'onglet Filtre :</strong><br>
                    L'application permet de <strong>filtrer </strong>nos recherches, c'est-à-dire qu'on peut filtrer
                    selon <strong>l'état </strong>du contrat ou alors selon <strong>l'intervenant.</strong><br>
                    <strong>Ce qui nous permet de rechercher tous les contrats d'un intervenant ou alors tous les
                        contrats selon un état bien précis.</strong>
                </div>
                <br>
                <img src="{{ asset('build/DetailContrat.png') }}" style="width: 80%" class="accordion-body" alt="">
                <div class="accordion-body">
                    <strong>Dans l'onglet Consulter un Contrat :</strong><br>
                    Tous les <strong style="color: dodgerblue">utilisateurs</strong> ont accès à cet onglet, ils
                    peuvent voir toutes les informations concernant le contrat choisit.<br>
                    Ils peuvent aussi <strong>Supprimer</strong> ou <strong>Éditer </strong>le contrat dans cet
                    onglet.
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h3 class="accordion-header" id="headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    <strong>Maquette pédagogique</strong>
                </button>
            </h3>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                 data-bs-parent="#accordionExample">
                <img class="accordion-body" style="width: 80%" src="{{ asset('build/Ecole 1.png') }}" alt="">
                <div class="accordion-body">
                    <strong>Dans l'onglet École : </strong><br>
                    Tous les <strong>écoles</strong> sont stockés ici.<br>
                    Tous les utilisateurs peuvent <strong style="color: dodgerblue">Importer ou Exporter</strong> les
                    données.<br>
                    Ils peuvent aussi <strong><span style="color: dodgerblue">créer une École,</span> <span
                                style="color: orange"> Éditer</span> ou <span
                                style="color: red"> Supprimer.</span></strong>

                </div>
                <br>
                <img src="{{ asset('build/Ecole 2.png') }} " style="width: 80%" class="accordion-body" alt="">
                <div class="accordion-body">
                    <strong>Dans l'onglet Créer une École :</strong><br>
                    Tous les <strong><span style="color: dodgerblue">utilisateurs</span></strong> ont accès à cet
                    onglet, ils doivent les champs pour valider la création.
                </div>
                <br>
                <img class="accordion-body" style="width: 80%" src="{{ asset('build/Promo 1.png') }}" alt="">
                <div class="accordion-body">
                    <strong>Dans l'onglet Promo : </strong><br>
                    Tous les <strong>promo</strong> sont stockés ici.<br>
                    Tous les utilisateurs peuvent <strong style="color: dodgerblue">Importer ou Exporter</strong> les
                    données.<br>
                    Ils peuvent aussi <strong><span style="color: dodgerblue">créer une Promo,</span> <span
                                style="color: orange"> Éditer</span> ou <span
                                style="color: red"> Supprimer.</span></strong>

                </div>
                <br>
                <img src="{{ asset('build/Promo 2.png') }} " style="width: 80%" class="accordion-body" alt="">
                <div class="accordion-body">
                    <strong>Dans l'onglet Créer une Promo :</strong><br>
                    Tous les <strong><span style="color: dodgerblue">utilisateurs</span></strong> ont accès à cet
                    onglet, ils doivent les champs pour valider la création.
                </div>
                <br>
                <img class="accordion-body" style="width: 80%" src="{{ asset('build/Classe 1.png') }}" alt="">
                <div class="accordion-body">
                    <strong>Dans l'onglet Classe : </strong><br>
                    Tous les <strong>classes</strong> sont stockés ici.<br>
                    Tous les utilisateurs peuvent <strong style="color: dodgerblue">Importer ou Exporter</strong> les
                    données.<br>
                    Ils peuvent aussi <strong><span style="color: dodgerblue">créer une Classe,</span> <span
                                style="color: orange"> Éditer</span> ou <span
                                style="color: red"> Supprimer.</span></strong>

                </div>
                <br>
                <img src="{{ asset('build/Classe 2.png') }} " style="width: 80%" class="accordion-body" alt="">
                <div class="accordion-body">
                    <strong>Dans l'onglet Créer une Classe :</strong><br>
                    Tous les <strong><span style="color: dodgerblue">utilisateurs</span></strong> ont accès à cet
                    onglet, ils doivent les champs pour valider la création.
                </div>
                <br>
                <img class="accordion-body" style="width: 80%" src="{{ asset('build/Matiere 1.png') }}" alt="">
                <div class="accordion-body">
                    <strong>Dans l'onglet Matière : </strong><br>
                    Tous les <strong>matière</strong> sont stockés ici.<br>
                    Tous les utilisateurs peuvent <strong style="color: dodgerblue">Importer ou Exporter</strong> les
                    données.<br>
                    Ils peuvent aussi <strong><span style="color: dodgerblue">créer une Matière,</span> <span
                                style="color: orange"> Éditer</span> ou <span
                                style="color: red"> Supprimer.</span></strong>

                </div>
                <br>
                <img src="{{ asset('build/Matière 2.png') }} " style="width: 80%" class="accordion-body" alt="">
                <div class="accordion-body">
                    <strong>Dans l'onglet Créer une Matière :</strong><br>
                    Tous les <strong><span style="color: dodgerblue">utilisateurs</span></strong> ont accès à cet
                    onglet, ils doivent les champs pour valider la création.
                </div>
                <br>
            </div>
        </div>
        <br><br>
        <p style="font-size: 20px;">La documentation Développeur se trouve<a href="{{ path('app_doc_dev') }}"> ici.</a>
        </p>

    </div>
</div>